{% extends "layout.html" %}
{% block content %}
<h1>{{ current_user.name }}</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for grade in grades %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{ grade.course.title }}</td>
          <td>{{ grade.grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}